<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.google.org/">News</a></li>
      <li><a href="http://www.fundusearch.org/">FunduSearch</a></li>
    </ul>
  </nav>
</footer>
